#!/bin/bash
# export JAVA_HOME=/usr/java/default
# export CLASSPATH=/opt/jdk/jdk1.7.0_40

### Maven variables
# export M2_HOME=/opt/apache-maven/apache-maven-3.1.0
# export M2=$M2_HOME/bin
# export MAVEN_OPTS="-Xms256m -Xmx512m"
